:root {
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);

    --ff-headings: 'Poppins', sans-serif;
    --ff-body: 'Open Sans', sans-serif;
}

html { 
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 80vh;
    background-image: url(./images/bg-desktop.svg);
    background-color: var(--violet);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo-container {
    margin: 4rem 0 8rem 6rem;
}

.container {
    display: flex;
}

.image-container {
    margin: 0 0 0 6rem;
}

.illustration {
    width: 51rem; 
    height: auto;  
}